* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgba(12, 8, 78, 1) 0%, rgba(9, 9, 121, 1) 38%, rgba(0, 212, 255, 1) 100%);
    font-family: "Nunito", sans-serif;
}
header {
    margin-top: 80px;
    color: white;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 0px;
    letter-spacing: 2px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textbox {
    outline: none;
    height: 30px;
    border-radius: 2px;
    border: 0px;
    padding-left: 10px;
    margin-left: 24px;
}
.btn {
    margin: 5px;
    padding: 8px;
    background-color: rgb(21, 117, 32);
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s ease-out;
    opacity: 0.8;
}
#clearallbtn{
    margin: 5px;
    padding: 8px;
    background-color: rgb(230, 13, 9);
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s ease-out;
    display: none;
    opacity: 0.8;
}
#clearallbtn:hover{
    opacity: 1;
}
.textbox::placeholder {
    color: rgb(7, 5, 47);
    padding: 2px;
    opacity: 0.5;
}
.btn:hover {
    opacity: 1;
}
#tasks {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
}

ul {
    width: 500px;
}
ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    background-color: white;
    color: rgb(49, 49, 187);
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 11px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 7px 0;
    transition: 0.7s ease-in-out;
    border-radius: 2px;
    user-select: none;
    overflow: hidden;
    word-wrap: break-word;
}
ul li span {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background-color:rgb(21, 117, 32);
    color: white;
    opacity: 0.8;
    transition: 0.9s ease-out;
}
ul li span:hover {
    opacity: 1;
}
.sp1{
    position: absolute;
    /* text-align: center; */
    width: 10%;
    background-color: rgb(49, 49, 187);
    color: white;
    opacity: 0.8;
    transition: 0.9s ease-out;
    /* margin-left: 357px; */
    top: 0;
    right: 10%;
    padding: 13px;
    border: none;
    outline: 0;
}
@media screen and (max-width: 800px) {
    ul li {
        align-items: center;
        margin-left: auto;
        width: 80%;
        margin-right: auto;
    }
    ul li span {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
    }
    .btn{
        opacity: 1;
    }
    #clearallbtn{
        opacity: 1;
    }
    .sp1{
        align-items: center;
        margin-left: 259px;
        margin-right: auto;
        opacity: 1;
    }
}
